@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: EB Garamond;
  background-color: rgb(219, 219, 219);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.container_1 {
  display: flex;
  align-items: center;
}

.container_1 img {
  width: 70px;
  cursor: pointer;
}

.navigation {
  display: flex;
  gap: 20px;
  margin-left: 150px;
  list-style: none;
  text-transform: uppercase;
}

.navigation a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 500;
}

.navigation a:hover {
  color: blue;
  text-decoration: underline 2px blue;
  text-underline-offset: 8px;
}

.navigation_1 {
  display: flex;
  list-style: none;
  font-size: 24px;
  gap: 30px;
  cursor: pointer;
}
.box {
  width: 100%;
  height: calc(100vh - 110px);
  display: flex;
}

.box_left {
  width: 40%;
  height: 100%;
  padding: 100px;
}

.box_left h5 {
  font-size: 24px;
  color: #555;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.box_left h2 {
  font-size: 55px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.box_left p {
  font-size: 24px;
  color: #555;
  margin-bottom: 40px;
}

.btn {
  text-transform: uppercase;
  font-size: 20px;
  width: 200px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 0 20px 20px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: blue;
  transition: all 0.3s ease-in-out;
}

.box_right {
  width: 60%;
  height: 100%;
  padding-top: 100px;
  display: flex;
  scroll-behavior: smooth;
  overflow-x: auto;
}

.box_right {
  /* Keep your existing styles */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* For Chrome, Safari and Opera */
.box_right::-webkit-scrollbar {
  display: none;
}

.sub_box {
  width: 250px;
  height: 85%;
  overflow: hidden;
  margin-left: 20px;
  border-radius: 20px;
  flex-shrink: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.box_img {
  width: 100%;
  height: 65%;
}

.sub_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease;
}

.sub_box:hover img {
  transform: scale(1.2);
  transition: all 1s ease;
}

.box_text {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  text-transform: capitalize;
  position: sticky;
  padding: 10px;
}

.name {
  font-size: 24px;
  font-weight: 700;
  color: black;
}

.category {
  font-size: 20px;
  color: #555;
}

.price {
  font-size: 20px;
  font-weight: 600;
  color: black;
}
